<!-- header starts-->
<div id="header-wrap"><div id="header" class="container_16">						
	
	<h1 id="logo-text"><%= link_to "Upload Data", :controller => "home" %></h1>
	
	<!-- navigation -->
	<div  id="nav">
		<ul>
			<li><%= link_to "Home", :controller => "home" %></li>
			<li id="current"><%= link_to "Upload Data", :controller => "datasets", :action => "new" %></li>
			<li><a href="/blog">Blog</a></li>
			<li><%= link_to "About", about_path %></li>		
		</ul>		
	</div>		
	
	
	<form id="quick-search" action="" method="get" >
		<p>
		<label for="qsearch">Search:</label>
		<input class="tbox" id="qsearch" type="text" name="qsearch" value="Search..." title="Start typing and hit ENTER" onfocus="this.value=''" onblur="if (this.value==''){this.value='Search...';}return;" />		<input class="btn" alt="Search" type="image" name="searchsubmit" title="Search" src="/images/search.gif" />
		</p>
	</form>					

<!-- header ends here -->
	</div>
</div>

<div id="content-outer">
	<div id="content-wrapper" class="container_16">			
		<%= tabulated_error_messages_for "dataset" %>
		<div id="steps">
			<span class="step"><h3>Step 1</h3> &mdash; <em>describe</em></span>
			<span class="step"><h3>Step 2</h3> &mdash; <em>more info</em></span>
			<span class="step"><h3>Step 3</h3> &mdash; <em>upload</em></span>
		</div>
		<form>
		<div id="carousel-wrapper">
			<div id="carousel-content">
				<div class="carousel-slide">
					<label for="object">Object name</label><input type="text" id="object_name" value="e.g. NGC 884" name="object" onFocus="this.value='';show_element('name_help');" onblur="if (this.value==''){this.value='e.g. NGC 884';} lookUP('#object_name');hide_element('name_help'); return;" /> <span id="lookupresult" class="position"></span><span id="name_help" class="help_container" style="display:none;"><span class="help">Enter your object name, targets will be resolved using LookUp</span></span>
					<br />
					<label for="lambda">Wavelength</label> 
						<input type="text" value="e.g. 656 nm" name="lambda" onfocus="this.value='';show_element('wavelength_help');" onblur="if (this.value==''){this.value='e.g. 656 nm';}hide_element('wavelength_help');return;" />
						<span class="position">&nbsp;</span>
						<span id="wavelength_help" class="help_container" style="display:none;">
							<span class="help">Enter the wavelength for these observations</span>
						</span>
					<br />
					<label for="author">Author(s)</label> 
					<input type="text" value="e.g. C.J. Lintott" name="authors" onfocus="this.value='';show_element('authors_help');" onblur="if (this.value==''){this.value='e.g. C.J. Lintott';}hide_element('authors_help');return;" />
					<span class="position">&nbsp;</span>
					<span id="authors_help" class="help_container" style="display:none;">
						<span class="help">Enter one or more author separated with commas</span>
					</span>
					<br /><label for="desc">Description</label> <textarea name="desc"></textarea>
					<br /><a href="#" onClick="step(+1)">Next</a>
				</div>
				<div class="carousel-slide">
					<label for="pos">Position</label> <input type="text" value="e.g. 10:34:35.6 +23:10:09" id="lookupresults" name="pos" />
					<br /><a href="#" onClick="step(-1)">Back</a> | <a href="#" onClick="step(+1)">Next</a>
				</div>
				<div class="carousel-slide">
					<br /><a href="#" onClick="step(-1)">Back</a> | Submit everything. This button should be greyed out until the files have finished uploading.
				</div>
			</div>
		</div>
		</form>	
	<!-- contents end here -->			

	</div>
</div>

